In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/paridhimaheshwari/workspace/ml-projects/nlp/train_cleaned.csv")
df1 = pd.read_csv("/Users/paridhimaheshwari/workspace/ml-projects/nlp/test_cleaned.csv")

In [4]:
df.head()

,Unnamed: 0,textID,text,selected_text,sentiment
0,1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
1,2,088c60f138,my boss is bullying me...,bullying me,negative
2,3,9642c003ef,what interview! leave me alone,leave me alone,negative
3,4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
4,6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive

In [5]:
X_train = df.loc[:10000,'text']
X_test=df1.loc[:10000,'text']

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y_train = le.fit_transform(df.loc[:10000,'sentiment'])
Y_test = le.transform(df1.loc[:10000,'sentiment'])

In [7]:
print(Y_train)

[0 0 0 ... 0 0 0]

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(lowercase=True, stop_words='english')
X_train1 = tf.fit_transform(X_train)
X_test1 = tf.transform(X_test)

In [9]:
X_train1 = pd.DataFrame(X_train1.toarray())
X_test1 = pd.DataFrame(X_test1.toarray())

In [10]:
X_train1

,0,1,2,3,4,5,6,7,8,9,...,13599,13600,13601,13602,13603,13604,13605,13606,13607,13608
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
def sigmoid(z):
    return 1 / (1+np.exp(-z))

In [12]:
# training phase
def training_phase(X, Y, lr, iterations):
    n=len(X)
    X = X.T
    Y = Y.T     #taken transpose for the purpose of deep learning
    W=np.random.randint(-10,10,size=(1,X.shape[0]))*0.01
    b=0
    for i in range(iterations):
        # forward pass
        A = sigmoid(np.dot(W,X)+b)      #this is activation
        cost = (-1/n)*np.sum((Y*np.log(A))+((1-Y)*np.log(1-A)))
        print("iteration: "+str(i)+'cost: '+str(cost))
        # backward pass